<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Réponse accès organisateur</title>
</head>
<body>
<div style="max-width: 600px; margin: 0 auto;">
    <header style="background-color: #f2f2f2; padding: 20px;">
        <h1 style="margin: 0;">Réponse accès organisateur</h1>
    </header>
    <main style="background-color: #fff; padding: 20px;">
        <p>Bonjour <%= name %></p>
        <p>Votre demande d'accès organisateur a été acceptée par notre équipe.</p>
        <p>Vous pouvez accéder à votre dashboard organisateur en cliquant sur ce lien <a href="http://localhost:8000/dashboard/event">Valider</a></p>
    </main>
    <footer style="background-color: #f2f2f2; padding: 20px;">
        <p>Message envoyé par : Bot mail-api</p>
    </footer>
</div>
</body>
</html>
