<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Titre de l'email</title>
</head>
<body>
<div style="max-width: 600px; margin: 0 auto;">
    <header style="background-color: #f2f2f2; padding: 20px;">
        <h1 style="margin: 0;">Titre de l'email</h1>
    </header>
    <main style="background-color: #fff; padding: 20px;">
        <p>Contenu de l'email</p>
    </main>
    <footer style="background-color: #f2f2f2; padding: 20px;">
        <p>Texte de pied de page</p>
        <p><%= variables.name %>/p>
    </footer>
</div>
</body>
</html>
