  
  /* The container <div> - needed to position the dropdown content */
  .dropdown-profile-container {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3096b7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 5px;
    top: 50px;
  }

  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: max-content;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #E5E3E3; 
    color: #3096b7;
    border-radius: 5px;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown-profile-container:hover .dropdown-content {
    display: block;
  }